<div class="text-center text-white"> <br>
    <h2>{{aim}}</h2>
</div>
<form (ngSubmit)="login()" [formGroup]="loginForm">
    <div class="container w-25 border mt-5 p-3" style="background-color: rgba(57,87,79,0.5); border-radius:25px;"> <br>
        <h1 class="text-center text-white">Login page</h1> <br>
        <div class="mt-2 p-2">
            <input type="text" name="acno" formControlName="acno" [placeholder]="data" class="form-control" id="acid" >
        </div>
        <div *ngIf="this.loginForm.get('acno')?.errors && this.loginForm.get('acno')?.touched ">
            <p class="text-danger">invalid acno</p>
        </div>
        <div class="mt-2 p-2">
            <input type="password" name="psw" formControlName="psw" placeholder="Password" class="form-control" id="pid" >
        </div>
        <div *ngIf="this.loginForm.get('acno')?.errors && this.loginForm.get('acno')?.touched ">
            <p class="text-danger">invalid password</p>
        </div>

        <div class="text-center mt-2 p-2">
            <button type="submit"  class="btn btn-success">Login</button> <br><br>
            <p class="text-white">new user? <a routerLink="register">Register</a></p>
        </div>
    </div>
</form>