<form (ngSubmit)="register()" [formGroup]="registerForm"> 
    <div class="container w-25 border mt-5 p-3" style="background-color: rgba(83, 151, 134, 0.5); border-radius:25px;"> <br>
        <h1 class="text-center text-white">Registration Page</h1> <br>
        <div class="mt-2 p-2">
            <input name="uname" formControlName="uname"  type="text" placeholder="username" class="form-control" id="acid" >
        </div>
        <div *ngIf="this.registerForm.get('uname')?.errors && this.registerForm.get('uname')?.touched ">
            <p class="text-danger">invalid username</p>
        </div>
        <div class="mt-2 p-2">
            <input name="acno" formControlName="acno"  type="text"  placeholder="acnumber" class="form-control" id="acid" >
        </div>
        <div *ngIf="this.registerForm.get('acno')?.errors && this.registerForm.get('acno')?.touched ">
            <p class="text-danger">invalid acno</p>
        </div>
        <div class="mt-2 p-2">
            <input name="psw" formControlName="psw"  type="password" placeholder="Password" class="form-control" id="pid" >
        </div>
        <div *ngIf="this.registerForm.get('acno')?.errors && this.registerForm.get('acno')?.touched ">
            <p class="text-danger">invalid password</p>
        </div>

        <div class="text-center mt-2 p-2">
            <button type="submit" (click)="register()"  class="btn btn-success">Signup</button> <br><br>
        </div>
    </div>
</form>